:root {
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 500px;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
